body{
    color: #fff;
    background: rgb(1, 34, 41);
}

#container{
    margin-top: 4vh;
}

#btn-comecar{
    margin-top: 21.5vh;
}

#jogo{
    margin-top: 10vh;
}

.btn-primary{
    background: rgb(253, 232, 212);
    color: rgb(1, 34, 41);
    border: none;
    width: 12rem;
    border-radius: 999px;
}

.btn-primary:hover{
    background:  rgb(255, 255, 255);
    color: rgb(1, 34, 41);
}

.row{
    margin-left: 0;
    margin-right: 0;
}

.esconde{
    display: none;
}